@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

body {
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f72585, #4361ee);
  user-select: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: white;
}

button {
  color: #ffffff;
  background-color: #2d63c8;
  font-size: 50px;
  border-radius: 7.5px;
  padding: 15px 50px;
  border: 1px solid #2d63c8;
  cursor: pointer;
}
button:hover {
  color: #2d63c8;
  background-color: #ffffff;
}

a {
  color: #ffffff;
}

*{padding:0;margin:0;}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  color: white;
  font-size: 16px;
}

.changelog{
  position:fixed;
  width:190px;
  height:47.5px;
  bottom:40px;
  left:40px;
  color: white;
}

.my-float{
  margin-top:22px;
}

a {
    color: #ffffff;
  }